# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
.out/

# Prisma
packages/db/prisma/generated/
packages/db/prisma/migrations/

# Env
.env
.env.*

# OS / Editor noise
.DS_Store
Thumbs.db
.vscode/
# Next.js
.next/
out/
.vercel/
